@font-face {
	font-family: "cuvuc";
	src: url("cuvuc.ttf");
}

body{
	font-family: "cuvuc";
	background-color: #1F2329;
}

h1{
	color: #D19A66;
}

h2{
	color: #969CA7;
}

h3{
	color: #696E76;
}

hr{
	background-color: #50545A;
	border: none;
	border-top: 3px double #50545A;
}

img {
	border: 5px solid #666666;
	margin: 5px 5px 5px 5px;
	width: 33%;
	height: 33%;

}

img:hover {
	border: 5px solid #61AFEF;
}


section {
	display: flex;
	flex-wrap: wrap;
}


a:visited {
  color: #C678DD;
  text-decoration: none;
}

a:link {
  color: #98C379;
  text-decoration: none;
}

a:hover {
  color: #61AFEF;
  text-decoration: none;
}


li{
	list-style-type: "> ";
	color: #61AFEF;
}
