/* Galmuri */
/*
@font-face {
  font-family: Galmuri11;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Galmuri11 Regular'),
       url('./Galmuri/Galmuri11.woff2') format('woff2'),
       url('./Galmuri/Galmuri11.ttf') format('truetype');
}
*/

/* Navbar */ 
.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}




/* Current color palette (from .Xresources) */ 
/*
	*background: #1a1b26
	*foreground: #c0caf5

	*color0: #15161e
	*color1: #f7768e
	*color2: #9ece6a
	*color3: #e0af68
	*color4: #7aa2f7
	*color5: #bb9af7
	*color6: #7dcfff
	*color7: #a9b1d6

	*color8: #414868
	*color9: #f7768e
	*color10: #9ece6a
	*color11: #e0af68
	*color12: #7aa2f7
	*color13: #bb9af7
	*color14: #7dcfff
	*color15: #c0caf5
*/ 

/* My Font */
@font-face {
	font-family: "cuvuc";
	src: url("cuvuc.ttf");
}

body{
	font-family: "cuvuc";
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	background-color: #141414;
}

h1{
	font-size: 2em;
	line-height: 50px;
	color: #7dcfff;
}

h2{
	font-size: 1.5em;
	color: #969CA7;
}

h3{
	font-size: 1em;
	color: #696E76;
}

hr{
	background-color: #414868;
	border: none;
	border-top: 5px double #414868;
}

img {
	border: 5px solid #414868;
	margin: 10px 0px 5px 5px;
	width: 15%;
	height: 15%;

}

img:hover {
	border: 5px solid #f7768e;
}


section {
	display: flex;
	flex-wrap: wrap;
}


a:visited {
  color: #9ece6a;
  text-decoration: none;
}

a:link {
  color: #9ece6a;
  text-decoration: none;
}

a:hover {
  color: #e0af68;
  text-decoration: none;
}


li{
	list-style-type: "> ";
	color: #bb9af7;
}

audio {
	display:block;
	margin: 0;
}

.btn {
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	font-size: 16px;
	background-color: #414868;
	cursor: pointer;
	color: white;
	position: relative;
}

.ribbon {
	width: 60px;
	font-size: 14px;
	padding: 4px;
	right: -25px;
	top: -12px;
	text-align: center;
	border-radius: 25px;
	transform: rotate(20deg);
	background-color: #ff9800;
	color: white;
}

.sep {
	color: #414868
}

.glow {
  font-size: 2em;
  color: #7dcfff;
  text-align: left;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}












