@font-face {
	font-family: "cuvuc";
	src: url("cuvuc.ttf");
}

body{
	font-family: "cuvuc"
}

hr{
	background-color: #000000;
	border: none;
	border-top: 2px double #000;
}

li{
	list-style-type: "> ";
}
